$bodyBackground: #fff;
$buttonsColor: #699900;
$fontFamily: 'Source Sans Pro', sans-serif;
$fontSizeText: 12px;
$headerBackgroundImage: url('../img/m-h-day.jpg');
$headerColor: #2C2F3C;
$sectionBackgroundColor: #21232E;
$sectionColor: #C0C3CE;
$bannerText:lightgray;
$selectedTextColor: #14A0C7;
$leftGradient: #649311;
$rightGradient: #3160CA;