$bodyBackground: #21232E;
$buttonsColor: #E3AC00;
$fontFamily: 'Source Sans Pro', sans-serif;
$fontSizeText: 12px;
$headerBackgroundImage: url('../img/m-h-night.jpg');
$headerColor: #fff;
$sectionBackgroundColor: #3B3F50;
$sectionColor: #C0C3CE;
$bannerText:lightgray;
$selectedTextColor: #FF4E33;
$leftGradient: #DBA007;
$rightGradient: #96334E;