body {
  background-color: #21232E;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto; }
  body a.login {
    color: #fff;
    font-size: 16px; }
  body a.section_link {
    color: #C0C3CE;
    font-size: 12px; }

button {
  background-color: #E3AC00;
  border: none;
  border-radius: 3px;
  color: #fff;
  height: 38px;
  width: 112px; }
  button:hover {
    cursor: pointer; }

header {
  background-image: url("../img/m-h-night.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 500px 220px;
  position: relative;
  z-index: 1; }
  header .header-wrap {
    margin: 0 auto;
    max-width: 80%;
    padding-top: 20px; }
    header .header-wrap p {
      color: #fff; }
    header .header-wrap .landing-logo {
      display: flex; }
      header .header-wrap .landing-logo p {
        display: grid;
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 0 10px;
        text-align: center; }
        header .header-wrap .landing-logo p span {
          font-size: 8px; }
    header .header-wrap .header_heading {
      font-size: 60px;
      font-weight: bold;
      line-height: 1em;
      max-width: 50%;
      margin-bottom: 45px;
      position: relative; }
      header .header-wrap .header_heading::before {
        background: #FF4E33;
        content: '';
        position: absolute;
        z-index: -1;
        height: 48px;
        top: 64%;
        width: 47%; }
    header .header-wrap .header_text {
      font-size: 12px;
      max-width: 40%; }
    header .header-wrap button {
      margin: 30px 120px 80px 0; }

main {
  max-width: 80%;
  margin: 0 auto; }
  main .section_text {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center; }
    main .section_text::before {
      background: #FF4E33;
      content: '';
      position: absolute;
      z-index: -1;
      height: 38px;
      left: 50.5%;
      top: 82.5%;
      width: 9.3%; }
  main .section_card_wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .section_card_wrap .section_card {
      align-items: inherit;
      background-color: #3B3F50;
      border-radius: 4px;
      display: inherit;
      flex-direction: row;
      margin: 10px auto;
      width: 71%; }
      main .section_card_wrap .section_card img {
        border-radius: 4px;
        margin: 15px;
        width: 39%; }
      main .section_card_wrap .section_card .section_card_right_container {
        color: #C0C3CE;
        margin: auto;
        text-align: center;
        width: 46%; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          color: #fff;
          font-weight: 600;
          padding-bottom: 16px; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-size: 12px;
          text-align: left; }
  main .section_banner {
    max-width: 80%;
    align-items: center;
    background: linear-gradient(to right, #DBA007, #96334E);
    border-radius: 4px;
    display: flex;
    margin: 90px auto 0 auto;
    position: relative;
    width: 77%;
    z-index: 1; }
    main .section_banner .section_banner_text_wrap {
      line-height: .8em;
      margin: 0 auto;
      width: 50%; }
      main .section_banner .section_banner_text_wrap .section_banner_heading {
        color: #fff;
        font-size: 20px;
        font-weight: bold; }
      main .section_banner .section_banner_text_wrap .section_banner_text {
        color: lightgray;
        font-size: 10px;
        margin-bottom: 32px; }
      main .section_banner .section_banner_text_wrap::before {
        background: #FF4E33;
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 62.5%;
        height: 30px;
        left: 22.5%;
        width: 5%; }
    main .section_banner button {
      margin-right: 90px; }

footer {
  background-color: #3B3F50;
  color: #C0C3CE;
  height: 170px;
  margin-top: -48px; }
  footer .footer-wrap {
    max-width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 70px; }
  footer .landing-logo {
    display: flex; }
    footer .landing-logo p {
      display: grid;
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 0 10px;
      text-align: center; }
      footer .landing-logo p span {
        font-size: 8px; }
  footer .footer_text {
    width: 22.4%; }
  footer .footer-cr, footer .footer_text {
    font-size: 12px; }

/*# sourceMappingURL=style2.css.map */
